* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
.header {
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: end;
    flex-wrap: wrap;
}
.button {
    text-decoration: none;
    padding: 3px;
    border-radius: 20%;
}
.button:hover {
    background-color: red;
}
.banner {
    width: 100vw;
    height: 10vh;
    object-fit: cover;
}
.tittle-gray {
    background-color: hsl(0, 0%, 85%);
    width: 100%;
    text-align: center;
    height: 100%;
}
.background {
    background-image: url(./images/background.jpg);
    background-color: rgba(255, 255, 255, 0.7);
    background-blend-mode: lighten;
}
.main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}
.bold {
    font-weight: 900;
    height: 18px;
}
.size-18px {
    font-size: 18px;
}
.card {
    position: relative;
    width: 70vw;
    height: auto;
}
.card-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.card-text {
    position: absolute;
    top: 0;
    width: 100%;
    font-size: 18px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.3);
    color: white;
    font-weight: 900;
}
.card-gray {
    padding: 10px 30px;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.6);
    width: 90%;
    display: inline-block;
    height: 120px;
}
.table-price {
    display: table;
}
.table-price, .table-price th, .table-price td {
    border: 2px solid black;
    border-collapse: collapse;
    padding: 2px;
}
.table-price th {
    width: 33%;
}
.table-price caption {
    background-color: black;
}
.text-red {
    color: red;
}
.text-white {
    color: white;
}
.footer {
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
.form-subscribe {
    width: 50%;
}
.form-email {
    border: none;
}

@media (768px <= width) {
    .header h1,.header nav {
        padding: 10px;
    }
    .banner {
        height: 14vh;
    }
    .main {
        flex-grow: 1;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: normal;
        
    }
    .main p {
        width: 100vw;
        text-align: center;
    }
    .tittle-gray {
        width: 100vw;
    }
    .card {
        width: 200px;
        height: 200px;
    }

    .footer {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
    .card-gray {
        width: 350px;
        margin: 0 0 10px 0;
    }
    .table-price, .table-price th, .table-price td {
        padding: 1px;
        
    }
    .form-subscribe {
        display: flex;
        justify-content: center;
        margin: 10px;
    }
    .form-subscribe label {
        padding: 10px;
    }
    .form-subscribe button {
        margin: 10px;
    }
}